@model JobSearch.Models.JobModels.Portfolio

@{
    ViewBag.Title = "Edit";
}

<style type="text/css">
    .sl {
        position: relative;
        top: .8em;
    }

    .te {
        position: absolute;
        
    }
    .lab {
        margin-left: 50px;
    }
    footer {
        position: absolute;
        margin-top:440px;
    }
    img{
        width:380px;
        height:380px;
    }
    .savee{
        margin-bottom:20px;
        margin-top:20px;
    }

</style>

<h2 style="color: #3366DD;">Edit portfolio</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <hr />
    <div class="sl">
        <img align="right" style="display:block;" src="https://cdn2.iconfinder.com/data/icons/business-dual-color-glyph-set-4/128/JOB_DESCRIPTION-512.png" />
    </div>

    
    <br />
    <div class="te">
        <div style=" text-align:left;" class="col l">

            <div class="form-group">
                @Html.LabelFor(model => model.Education, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Education, new { htmlAttributes = new { @class = "lab form-control" } })
                    @Html.ValidationMessageFor(model => model.Education, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Location, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Location, new { htmlAttributes = new { @class = "lab form-control" } })
                    @Html.ValidationMessageFor(model => model.Location, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CV, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CV, new { htmlAttributes = new { @class = "lab form-control" } })
                    @Html.ValidationMessageFor(model => model.CV, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Experience, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Experience, new { htmlAttributes = new { @class = "lab form-control" } })
                    @Html.ValidationMessageFor(model => model.Experience, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PreviousProjects, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PreviousProjects, new { htmlAttributes = new { @class = " lab form-control" } })
                    @Html.ValidationMessageFor(model => model.PreviousProjects, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="savee">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>

            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>

        </div>
    </div>
</div>
        
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
