@model JobSearch.Models.JobModels.JobApplications

@{
    ViewBag.Title = "Details";
}

<style type="text/css">
    .pos {
        color: #3366DD;
        font-style: italic;
        font-weight: bold;
    }

    dt {
        color: #3366DD;
        font-size: 20px;
        margin: 5px;
    }

    dd {
        font-size: 20px;
        font-style: italic;
        margin: 5px;
    }

    .celo {
        padding-left:220px;
    }
</style>

<h2>Details for the Job</h2>
<h4 class="pos">Position: @Html.DisplayFor(model => model.Position)</h4>

@{
    int id = 0;
    int role = 0;
    HttpCookie reqCookies = Request.Cookies["userInfo"];
    if (reqCookies != null)
    {
        id = Convert.ToInt32(reqCookies["Id"].ToString());
        role = Convert.ToInt32(reqCookies["Role"].ToString());
    }
}


<hr />
<div class="celo">
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Company)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FullPart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullPart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Qualifications)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Qualifications)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Salary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Salary)
        </dd>

    </dl>
</div>
<p>
    @{
        if (role == 1)
        {
            if (Model.Applications.Contains(id))
            {
            <p style="font-size:20px;color:forestgreen">You have applied for this job</p>
        }
        else
        {
            @Html.ActionLink("Apply", "Apply", new { id = Model.JobId }, new { @class = "btn btn-primary" });
            <br />
        }
    }
    else
    {
        @Html.ActionLink("View Applicants", "Index", "ApplicantsForJobs")
        <br />
    }
    @Html.ActionLink("View Comments", "Index", "Comments")
    }
    </p>
